/* .header1{
    color: cadetblue;
    background-color: beige;
    font-size: larger;
} */
 /* .inline-header1{
    color: cadetblue;
    background-color: beige;
    font-size: larger;
} */
 /* .outline-header1{
    color: cadetblue;
    background-color: rgb(151, 151, 39);
    font-size: larger;
} */