.footer{
    position: fixed;
    bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: rgb(184, 65, 184);
    color: white;

}

.item{
    margin: 50px;
}